/*============================
=            HOME            =
============================*/

body {
  margin: 0;
  font-family: lato;
}

/*check if reset exists*/

.home {
  width: 100%;
}

.reminder-banner{
  width: 100%;
  height: 60px;
  background-color: grey;
  position: fixed;
  top: 0;
  right: 0;
}

.reminder-banner-content{
  z-index: 999999;
  display: inline-block;
  height: 100%;
  position: relative;
  right: -10%;
  transform: translate(-50px, 0);
}

.reminder-banner-icon{
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 15px;
}

.reminder-banner-text{
  float: left;
  line-height: 60px;
  color: black;
}

.reminder-banner-x-icon{
  float:right;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 15px;
}

.home-header {
  @include flex-row-nowrap-center;
  background-image: url("../../img/home-header.png");
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}


.margin-center {
  @include margins-auto;
}

.home-nav-bar{
  z-index: -99;
  background-color: gainsboro;
  height: 56px;
}

.nav-tabs-container{
  display: block;
  width: fit-content;
  @include margins-auto;
  background-color: gainsboro;
}

.nav-tab-container{
  float: left;
  border: 1px grey solid;
  box-shadow: 1px 0px 10px 1px #aaaaaa;
}


.nav-tab-title{
  float: left;
  margin: 15px;
}

.nav-icons{
  position: relative;
  display: block;
  float: left;
  top: 18px;
  margin-right: 20px;
}

.home-header-title {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.home-body-titles {
  text-transform: uppercase;
  color: grey;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
	margin: 10px 0 26px 0
}

.home-body-container {
	overflow: auto;
}

.home-body-tours-container {
  color: grey;
  text-align: center;
  margin: 10px 0 0 0;
}

.home-line {
  /*same as memory*/
  width: 70%;
}

.home-body-tours {
	@include flex-row-nowrap-center;
  width: 100%;
  background-color: ghostwhite;
}

.home-body-tour {
	@include flex-col-nowrap-center;
  background-color: grey;
  border: blue 1px solid;
  width: 20%;
  height: 200px;
  color: white;
  height: 478px;
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tour-classic{
	background-image: url("../../img/ways-classic.png");
}

.tour-costal{
  background-image: url("../../img/ways-costal.png");
}

.tour-cycle{
	background-image: url("../../img/ways-cycle.png");
}

.tour-rome{
	background-image: url("../../img/ways-rome.png");
}

.tour-end-of-the-world{
	background-image: url("../../img/ways-end_of_the_world.png");
}

.home-body-tour-header {
	@include flex-row-nowrap-center;
  width: 100%;
}

.home-body-tour-title {
	@include flex-row-nowrap-center;
  flex: 1 1 100%;
  font-size: 15px;
  top: -130px;
  text-transform: uppercase;
  width: 100%;

	&:before {
	  background-color: white;
	  display: block;
	  content: '\a0';
	  height: 1px;
	  flex: 1 1 10%;
	  margin: 0 10px 0 10px;
	}

	&:after{
	  background-color: white;
	  display: block;
	  content: '\a0';
	  height: 1px;
	  flex: 1 1 10%;
	  margin: 0 10px 0 10px;	
	}
}

.home-body-tours-link {
  text-align: center;
  margin: 15px auto 10px auto;
}

.home-body-tour-text {
	text-transform: uppercase;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0 2px grey;
}

.home-body-tour-goto {
	position: absolute;
	top: 425px;
}

.home-route-planner-container {
  background-color: #eaecef;
  width: 80%;
  border-radius: 5px;
  padding: 4px 0 0 0;
  margin: 20px auto 0 auto;
}

.home-route-planner-text {
  width: 80%;
  line-height: 1.6;
  position: relative;
  right: -55px;
  margin-top: 0;
  margin-bottom: 20px;
}

.planner-form {
	@include flex-row-nowrap-center;
  width: 95%;
  margin: auto auto 20px auto;
}

.home-route-planner-variables {
  @include flex-row-nowrap-center;
  margin: 20px 10px 20px 0;
  flex: 1 1 25%;
}

.form-variable {
  text-transform: capitalize;
  width: 100%;
  height: 50px;
  flex: 1 1 25%;
}

.home-route-planner-variable-region {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.home-route-planner-variable-way {
  border-radius: 0px 0px 0px 0px;
  border-right: none;
}

.home-route-planner-variable-start-date {
  border-radius: 0px 0px 0px 0px;
  border-right: none;
}

.home-route-planner-variable-end-date {
  border-radius: 0px 5px 5px 0px;
}

.home-route-planner-submit {
}

.home-body-about {
  background-image: url("../../img/about-background.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto 510px;
  height: 510px;
  display: block;
  padding: 55px;
  margin-top: 30px;
}

.home-body-about-content {
  position: relative;
  right: -550px;
  width: 590px;
  
}

.home-body-about-icon {
  @include margins-auto;
  display: block;
  fill: grey;
  width: 40px;
  width: 40px;
  margin-bottom: 30px;
}

.home-body-about-text {
	margin: 0 0 35px 0;
	font-size: 18px;
  font-weight: 400;
}

.home-body-about-link {
	text-align: center;
}

.home-experiences {
  text-align: center;
  overflow:auto;
  padding: 10px 10px 15px 10px;
}

.home-experiences-links {
	@include flex-row-nowrap-center;
  padding: 5px 20px 20px 20px;
}

.home-experiences-memories-link-container {
	flex: 0 0 530px;
  background-image: "#";
  width: 530px;
  height: 320px;
  border: grey 1px solid;
  margin: 2px;
}

.home-experiences-memories {
  text-decoration: none;
  color: white;
}

.experiences-memories-header {
  position: relative;
  top: 65px;
}

.home-experiences-memories-overtitle {
	@include flex-row-nowrap-center;
  text-decoration: none;
  flex: 1 1 100%;
  margin: 0;

	&:before{
		  background-color: white;
		  display: block;
		  content: '\a0';
		  height: 1px;
		  flex: 1 1 10%;
		  margin: 0 3px 0 80px;
	}

	&:after{
		  background-color: white;
		  display: block;
		  content: '\a0';
		  height: 1px;
		  flex: 1 1 10%;
		  margin: 0 80px 0 3px;
	}
}


.home-experiences-memories-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  margin: 0;
}

.home-body-experiences-memories_link-text {
  @include margins-auto;
  position: relative;
  top: 120px;
  width: 80%;
  text-align: center;
}

.home-experiences-links-container {
  @include flex-row-wrap;
  width: 700px;
}

.other-links {
  flex: 0 0 320px;
  text-decoration: none;
  border: grey 1px solid;
  margin: 2px;
  padding: 10px;
  color: black;
  height: 158px;
}

.home-newsletter-form {
  width: 1180px;
  height: 230px;
  @include margins-auto;
  border-radius: 2px;
  background-color: #c7bc95;
  padding: 0 60px;
}

.home-newsletter-form-header {
  color: white;
  margin: 15px;
}

.newsletter-title {
  display: block;
  float: left;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.newsletter-title span {
  font-size: 34px;
}

.home-newsletter-text {
  float: left;
  margin: 26px 0 0 80px;
  width: 600px;
  line-height: 1.6;
}

.newsletter-form-input {
	@include flex-row-nowrap-center;
  @include margins-auto;
  clear: both;
  width: 80%;
  margin: 5px;
  position: relative;
  top: 25px;
}
.subscription_form-variable {
  text-transform: capitalize;
  height: 50px;
  flex: 1 1 33%;
  padding: 0 0 0 10px;
  border: 1px grey solid;
}

.half-round-left{
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.half-round-right{
  border-radius: 0px 5px 5px 0px;
  }

.home-footer-container{
  background-color: grey;
  height: 150px;
  width: 100%;
  margin-top: 40px;
}

.footer-content{
	@include flex-row-nowrap-center;
  height: 150px;
  width: 1100px;
  @include margins-auto;
}


.footer-main-content{
	@include flex-col-nowrap-center;
}

.footer-logo{
  position: relative;
  flex:  1 1 15%;
}

.footer-logo-icon {
  position: absolute;
  left: 110px;
  display: block;
  fill: orange;
  width: 30px;
}

.footer-logo-title{
  position: absolute;
  top: 50%;
  transform: translate(0, -55%);
  color: orange;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  margin: 0 0 0 12px;
	span{text-transform: lowercase; }
}
  
.logo-background-form{
  width: 190px;
  height: 56px;
}

.footer-links-list{
  list-style-type: none;
  margin: 15 auto 20 auto;
}

.footer-contact-email{
	flex: 1 1 10%;
}

.footer-links{
	clear: both;
  list-style-type: none;
  color: white;
}

.footer-link{
  text-transform: capitalize;
  float:left;
  margin: 20px 15px 30px 15px;
}

.home-footer-socialmedia{
	clear: both;
}
/*=====  End of HOME  ======*/