/*====================================
=            PLACEHOLDERS            =
====================================*/


/*----------  Structure  ----------*/

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

%content-container {
  max-width: 100%;
  width: $s-content-width;
  margin: 0 auto;
}

%standard-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @include media-query("phone") {
    flex-direction: row;
  }
}


/*=====  End of PLACEHOLDERS  ======*/
